.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;

}
.big_chonk{
    width: 100%;
}
#status{
    font-size: 30px;
  
    width: 200px;
    height: 50px;

}
.modal-dialog {
    width: 90%;
}
.yahoo {
    display: inline-block;
    width: 45%;
    
}